streamlit

# Utilities
numpy
pandas

# Face Recognition — pre-compiled binaries
scikit-learn
dlib-bin
face_recognition
face_recognition_models

# Database
supabase==2.10.0
bcrypt

# QR Code
segno
pillow

# Voice
librosa
resemblyzer
